*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
    scrollbar-width: none;
}
header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:.8rem .5rem;
    border-radius:0px 0 10px 10px;
    box-shadow:0 0 10px rgb(42, 8, 8);
}
header h2{
    color:#000;
}
h2 em{
    color:transparent;
    background:linear-gradient(to top, rgb(0, 136, 255), rgb(226, 26, 26));
    background-clip:text;
}
nav ul{
    display:flex;
    gap:2rem;
    list-style:none;
}
ul li{
    font-weight:bold;
}
li a{
    text-decoration:none;
    color:#000;
    font-size:1.15rem;
}
section{
    margin:3% 15%;
    font-size:1.24rem;
}
.wrapp{
    display:flex;
}
.hero-content h3:nth-child(1),.about h3,.projects h3,.contact h3,.skills h3{
    text-align:center;
}
.hero-content h3:nth-child(2){
    margin-left:15%;
}
.cta{
    margin:20% 2% 0 2%;;
}
.cta a{
    border:1px solid;
    margin:0 2rem 0 0;
    padding:4px 5px;
    text-decoration:none;
    border-radius:10px;
    width:fit-content;
}
cta a:nth-child(1){
    margin-right:5%;
}
img{
    height:350px;
    width:250px;
}
.a-image{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:2%;
}
.skill{
    margin:1.3rem 0;
}
.skill h4{
    text-align:center;
}
.box-1{
    display:flex;
    justify-content:center;
    gap:2%;
    margin-bottom:2%;
}
.box-1 img{
    height:150px;
    width:150px;
}
.boxs{
    display:flex;
    padding:5%;
    justify-content:space-between;
}
.boxs img{
    height:170px;
}
.project h5{
    text-align:center;
    margin-bottom:1%;
    font-size:1.2rem;
}
.pr-link{
    text-align:center;
    margin:1%;
}
.pr-link a{
    text-decoration:none;
    border:1px solid grey;
    font-size:1.1rem;
    color:#000;
    border-radius:4px;
    padding:3px 7px;
}
.form{
    display:flex;
    justify-content:center;
}
form{
    width:50%;
}
.input-field{
    width:100%;
}
.input-field input,textarea{
    width:100%;
    height:2.5rem;
    padding-left:1rem;
    margin:1% 0 .3% 0;
    border-radius:10px;
    font-size:1.1rem;
    outline:none;
}
.input-field textarea{
    height:100px;
}
.input-field p{
    margin-left:1rem;
    color:red;
    display:none;
}
.batn{
    display:flex;
    justify-content:center;
}
.batn button{
    padding: 5px;
    font-size:1.1rem;
    margin:1% 0;
}
footer{
    height:4vh;
    display:flex;
    align-items:center;
    font-size:1.2rem;
    justify-content:center;
}